.line {
    position: absolute;
    background-color: #fff;
    --scale: 1;

    &:nth-child(1) {
        width: calc(100% - 20px);
        top: 0;
        left: 10px;
        height: 1px;
        transform-origin: left;
        transform: scaleX(var(--scale));
    }
    &:nth-child(2) {
        width: calc(100% - 20px);
        height: 1px;
        bottom: 0;
        left: 10px;
        transform-origin: right;
        transform: scaleX(var(--scale));
    }
    &:nth-child(3) {
        height: 100%;
        width: 1px;
        left: 10px;
        top: 0;
        transform-origin: top;
        transform: scaleY(var(--scale));
        
    }
    &:nth-child(4) {
        height: 100%;
        width: 1px;
        right: 10px;
        top: 0;
        transform-origin: bottom;
        transform:scaleY(var(--scale));
    }
}

.wrapper {
 

    @media (min-width:786px) {
        min-height: 800px;
    }
}