.hero {
    position: relative;    

    &:after, &:before {
        background-color: #000000;
 
        transform: scale(0);
        content: '';
        height: 1px;
        width: 100vw;
        position: absolute;
        transition: 3s ease;
    }
    &:before {
        top: 50px;
      
        transform-origin: left;

        @media (min-width: 768px ) {
            top: 70px;
        }
    }
    &:after {
        bottom: 50px;
        transform-origin: right;

        @media (min-width: 768px ) {
            bottom: 70px;
        }
    }

    &__ttl {
        transition: 3s ease;
        opacity: 0;
    }

    &.is-animate {
        &:before, &:after {
            transform: scale(1);
        }

        .hero {
            &__ttl {
                opacity: 1;
            }
        }

        .flowers {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .title {
        mix-blend-mode: difference;
    }

    .flowers {
        opacity: 0;
        transform: translateY(10px);
        transition: 2s ease-in;
    }
}

.section:has(.hero) {
    padding: 0;
}